*{scroll-behavior: smooth;
}

#header{font-family: 'Poiret One', cursive;
	   color: #f9b10b;
	   margin: 0;
	   padding: 0;
	   box-sizing: border-box;
	   width: 100%;
}


#about{margin: 50px;
	   padding: 20px;
}

#aboutpic{background-color: #f9b10b;
		  padding: 20px;

}

#aboutme{background-color: rgba(242, 242, 242, 80%);
		 width: 100%;
		 padding: 50px;
		 font-family: 'Pacifico', cursive;
		 
		 color:#2aa1b7;
}

#me2{border-radius: 100%;
	 width: 400px;
	 height: 400px;
	 margin: 20px;
}


#experience,
#education,
#certification,
#skills,
#interest{margin: 50px auto;
		  padding: 10px;
		  width: 90%;
		  font-family: 'Poiret One', cursive;
		  color: white;
}

.exp1{background-color: #2aa1b7;
	  padding: 50px;

}

.exp2{background-color: #f9b10b;
	  padding: 50px;
}

.icon{width: 40px;
	  height: 40px;

}

.home{width: 20px;
	  height: 20px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
	.hide, .hide2{display: none;}
}

@media screen and (max-width: 425px) {
	.hide, .hide2, .hide1{display: none;
	}
}
